/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #121212;
}

.container1 {
    display: flex;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-top: 25px;
    margin: 0 auto; /* Center horizontally */
    text-align: center;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: medium;
    width: 100%;

}



#youtubeLink {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding-left: 25px;
    width: 580px;
    height: 55px;
}

#submitButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 60px;
    position: relative;
    left: -35px;
}

#youtubeForm {
    display: flex;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
    padding-inline-start: 35px;
}

.container2 input[type="text"],
.container2 button {
    flex: w;
    margin: 0; /* Remove default margin */
}

.container3 {
    width: 80%;
    height: 280px;
    padding-top: 30px;
    display: flex;
    justify-content: center; /* Add space between child containers */
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 25px;
    padding-bottom: 0%;
    color: white; /* Set font color to white */
}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #2B2B2B;
    width: 20%; /* Adjust width to accommodate space between containers */
    /* height: 100%; */      
    padding-bottom: 20px;
    border-radius: 30px;
    margin-bottom: 0;
    margin-right: 15px;
}

.image {
    margin-right: auto;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    padding-right: 45px; /* Push the text to the left */
    margin: 20px;
    border-radius: 20px;
    width: 65%;
    margin-bottom: 70px;
}

.image1 {
    margin-right: auto;
    display: flex; /* Use flexbox */
    align-items: center; /* Center vertically */
    padding-right: 45px; /* Push the text to the left */
    margin: 20px;
    border-radius: 20px;
    width: 65%;
    margin-bottom: 43px;
}

.circle {
    width: 60px; /* Set circle width */
    height: 60px; /* Set circle height */
    border-radius: 50%; /* Make circle shape */
    border: 3px solid red; /* Add red border */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #262626;
}

.circle1 {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative; /* Position the second circle relative to the first circle */
    width: 60px; /* Set circle width */
    height: 60px; /* Set circle height */
    border-radius: 50%; /* Make second circle shape */
    background-color: #262626;
    border: 3px solid red; /* Add red border */
    left: -15px;
}

#circleimg {
    width: 40px; /* Set the desired width */
    height: 40px;
}

#header1 {
    font-size: 23px;
    font-weight: regular;
    margin-bottom: 0;
    margin-left: 20px;
}

#line1 {
    /* Your CSS styles for the image with ID "line" */
    width: 85%;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#paragraph {
    font-size: 12px;
    font-weight: light;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    margin-right: 15px;
}



/* Media Queries */

@media (max-width: 768px) {
    .bar {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px;
    }

    .nav {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
        font-size: 12px;
    }

    .container2 {
        font-size: 14px;
        align-items: center;

    }
  

    .container1 {
        font-size: 24px;
    }
    

    #youtubeLink {
    border-radius: 20px;
    border: 1px solid #ccc;
    padding-left: 25px;
    width: 480px;
    height: 55px;
}

#submitButton {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 60px;
    position: relative;
    left: -35px;
}

#youtubeForm {
    display: flex;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
}

.description {
    width: 90%;
    margin-right: 0;
    margin-bottom: 15px;
}

.container2 input[type="text"],
.container2 button {
    flex: w;
    margin: 0; /* Remove default margin */
}

}

@media (max-width: 550px) {
    .bar {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }

    .nav {
        font-size: 10px;
    }

    .container1 {
        font-size: 24px;
    }

    .container2 {
        width: 100%;
    }

    #youtubeLink {
        width: 300px;
        height: 35px;
    }

    #submitButton {
        width: 60px;
        height: 40px;
   
    }

    #youtubeForm {
        padding-inline-start: 30x;
    }

    .description {
        width: 90%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}


/* For large mobile screens */
@media (max-width: 425px) {
    .bar {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }

    .nav {
        font-size: 10px;
    }

    .container1 {
        font-size: 24px;
    }

    .container2 {
        width: 100%;
    }

    #youtubeLink {
        width: 220px;
        height: 35px;
    }

    #submitButton {
        width: 60px;
        height: 40px;
   
    }

    #youtubeForm {
        padding-inline-start: 30x;
    }

    .description {
        width: 90%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

/* For medium mobile screens */
@media (max-width: 375px) {
    .bar {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }

    .nav {
        font-size: 8px;
    }

    .container1 {
        font-size: 22px;
    }

    .container2 {
        width: 100%;
    }

    #youtubeLink {
        width: 200px;
    }

    #submitButton {
        width: 55px;
        height: 35px;
    }

    .description {
        width: 95%;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

/* For small mobile screens */
@media (max-width: 375px) {
    .bar {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
    }

    .nav {
        font-size: 10px;
    }

    .container1 {
        font-size: 24px;
    }

    .container2 {
        font-size: 14px;

    }

    #submitButton {
        width: 60px;
        height: 40px;
        position: relative;
        left: -35px;
    }
    
    #youtubeLink {
        border-radius: 20px;
        border: 1px solid #ccc;
        width: 170px;
        height: 35px;
    }

    .description {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    #youtubeForm {
        display: flex;
        font-family: "Poppins", sans-serif;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container2 input[type="text"],
.container2 button {
    flex: w;
    margin: 0; /* Remove default margin */
}
}


/*
@media (max-width: 480px) {
    .bar {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
    }

    .nav {
        font-size: 10px;
    }

    .container1 {
        font-size: 24px;
    }

    .container2 {
        font-size: 14px;

    }

    #submitButton {
        width: 60px;
        height: 40px;
        position: relative;
        left: -35px;
    }
    
    #youtubeLink {
        border-radius: 20px;
        border: 1px solid #ccc;
        width: 300px;
        height: 35px;
    }

    .description {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    #youtubeForm {
        display: flex;
        font-family: "Poppins", sans-serif;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .container2 input[type="text"],
.container2 button {
    flex: w;
    margin: 0; 
*/
