*{
    margin: 0;
}
body{
    background-color: #121212;
}

.bar{
    max-width: auto ;
    background-color: #212121;
    height: 80px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-direction: row;
    align-items: center;
    font-size: 36px;
}

.nav{
    display: flex;
    align-items: center;
    width: 341px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    font-size: 14px;
    color: black;
    justify-content: space-evenly;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 700;
}

.nav p{
    cursor: pointer;
}

.nav a{
    text-decoration: none;
    color: black;
}

.bar a{
    text-decoration: none;
}

.logo:hover {
    color: red;
    cursor: pointer;
}

.nav p:hover{
    color: red;
    cursor: pointer;
}

.how-to{
    font-size: 14px;
    font-weight: 300;
    padding-right: 20px;
    margin-left: auto;
}

.how-to:hover{
    color: red;
    cursor: pointer;
}

.get-started{
    font-size:  14px;
    max-height: 50px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    width: 150px;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 700;
    justify-content: space-evenly;
}

.get-started:hover{
    color:white;
    cursor: pointer;
    background-color: red;
}

.get-started a{
    text-decoration: none;
    color: black;
}

