/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #121212;
}

.container {
    display: flex;
    flex-direction: row; /* Display children in a column */
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    color: white;
    width: 60%;
    margin: 0 auto;
}

.info_button {
    display: flex;
    flex-direction: column; /* Display children in a column */
    align-items: center;
    margin-bottom: 25px;
    color: white;
    margin: 0 auto;
    width: 580px;
    height: 100%;
    padding-top: 20px;
}

.video-info,
.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-info table {
    border: 1px solid #5D5D5D; /* Add a 1px solid border around the table */
    border-collapse: collapse; /* Collapse borders to avoid double border */
    width: 100%; /* Ensure table fills its container */
    color: white
}

.video-info td {
    border: 1px solid #5D5D5D; /* Add a 1px solid border to table cells */
    text-align: left;
    padding: 5px;
    border-radius: 20px;
}

.video-info {
    color: white;
    background-color: #212121;
    width: 90%;
    padding: 10px;
}

#td1 {
    font-size: 14px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

#td2 {
    font-size: 12px;
    font-weight: medium;
    font-family: "Poppins", sans-serif;
}

.thumbnail {
    /* Add styling for the thumbnail container */
    position: relative;
    margin-top: 20px;
    background-color: blueviolet;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.thumbnail img {
    /* Add styling for the thumbnail image */
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.actions {
    color: white;
    width: 100%;
    margin-top: 20px; /* Adjust spacing between the two rows */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Optional: Add padding or margin to increase space between elements within .actions */
.button-wrapper button {
    margin: 5px;
    margin-right: 25px;
    width: 150px;
    height: 35px;
    background-color: red;
    color: white;
    outline: 1px solid #E1E1E1;
    border-radius: 20px;
    font-weight: semi-bold;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.button-wrapper button:hover {
    cursor: pointer;
    filter: brightness(90%);    
}

.button-wrapper p {
    margin-bottom: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.output-box {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid #212121;
    border-radius: 20px;
    background-color: transparent;
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
    height: 250px; /* Set maximum height for the output box */
    margin-top: 20px;
}

/* Style for output text */
.output-text {
    font-size: 16px;
    line-height: 1.6;
}

/* Style for list inside output */
.output p {
    list-style-type: none;
    padding: 0;
    margin: 25px;
}

/* Style for list items */
.output li {
    margin-bottom: 10px;
}

/* Media Queries */

/* Large screens */
@media (max-width: 1024px) {
    .bar {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px;
    }

    .nav {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
        font-size: 12px;
    }

    .container {
        width: 80%;
    }

    .info_button {
        width: 100%;
    }

    .video-info {
        width: 90%;
    }

    .thumbnail {
        width: 250px;
        height: 200px;
    }

    .actions {
        flex-direction: row;
        align-items: center;
    }

    .button-wrapper button {
        width: 90px;
        height: 25px;
    }

    .output-box {
        width: 80%;
    }
}

/* Medium screens */
@media (max-width: 768px) {
    .bar {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 24px;
    }

    .nav {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
        font-size: 12px;
    }

    .container {
        width: 80%;
    }

    .info_button {
        width: 100%;
    }

    .video-info {
        width: 90%;
    }

    .thumbnail {
        width: 250px;
        height: 200px;
    }

    .actions {
        flex-direction: row;
        align-items: center;
    }

    .button-wrapper button {
        width: 90px;
        height: 25px;
    }

    .output-box {
        width: 80%;
    }
}

/* Large mobile screens */
@media (max-width: 425px) {
    .bar {
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }

    .nav {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
        font-size: 8px;
    }

    .container {
        width: 100%;
        flex-direction: column;
    }

    .info_button {
        width: 90%;
        padding-top: 0%;
        margin-top: 10px;
    }

    .video-info {
        width: 85%;
    }

    .thumbnail {
        width: 270px;
        height: 140px;
    }


    #td1 {
        font-size: 15px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }
    
    #td2 {
        font-size: 13px;
        font-weight: medium;
        font-family: "Poppins", sans-serif;
    }
    

    .actions {
        flex-direction: row;
        align-items: center;
    }

    .button-wrapper button {
        width: 85px;
        height: 30px;
        font-weight: semi-bold;
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        margin: 0%;
    }
    
    .button-wrapper p {
        margin-bottom: 2px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }


    .output-box {
        width: 70%;
    }
}

/* Medium mobile screens */
@media (max-width: 375px) {
    .bar {
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }

    .nav {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
        font-size: 8px;
    }

    .container {
        width: 100%;
        flex-direction: column;
    }

    .info_button {
        width: 90%;
        padding-top: 0%;
        margin-top: 10px;
    }

    .video-info {
        width: 80%;
    }

    .thumbnail {
        width: 250px;
        height: 120px;
    }


    #td1 {
        font-size: 12px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }
    
    #td2 {
        font-size: 10px;
        font-weight: medium;
        font-family: "Poppins", sans-serif;
    }
    

    .actions {
        flex-direction: row;
        align-items: center;
    }

    .button-wrapper button {
        width: 80px;
        height: 25px;
        font-weight: semi-bold;
        font-family: "Poppins", sans-serif;
        font-size: 11px;
        margin: 0%;
    }
    
    .button-wrapper p {
        margin-bottom: 2px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }


    .output-box {
        width: 65%;
    }
}

/* Small mobile screens */
@media (max-width: 320px) {
    .bar {
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }

    .nav {
        width: 100%;
        justify-content: space-between;
        margin-left: 0;
        font-size: 8px;
    }

    .container {
        width: 100%;
        flex-direction: column;
    }

    .info_button {
        width: 90%;
        padding-top: 0%;
        margin-top: 10px;
    }

    .video-info {
        width: 80%;
    }

    .thumbnail {
        width: 240px;
        height: 100px;
    }


    #td1 {
        font-size: 12px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
    }
    
    #td2 {
        font-size: 10px;
        font-weight: medium;
        font-family: "Poppins", sans-serif;
    }
    

    .actions {
        flex-direction: row;
        align-items: center;
    }

    .button-wrapper button {
        width: 75px;
        height: 20px;
        font-weight: semi-bold;
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        margin: 0%;
    }
    
    .button-wrapper p {
        margin-bottom: 2px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 11px;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }


    .output-box {
        width: 65%;
    }
}
