<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=" {{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Insight.</title>
</head>
<body>
    <div class="bar">
        <p class="logo"> INSIGHT. </p>
        <div class="nav">
            <p> Home </p>
            <p> About </p>
            <p> Workaround </p>
        </div>
        <div class="how-to">
            <p> How to use? </p>
        </div>
        <div class="get-started">
            <p> Get Started </p>
            <img src="{{ url_for('static', filename='assets/rightarrow.png')}}" alt="right arrow">
        </div>
    </div>
    <div class="container1">
        <p> About our team. <br>
            Established group of students
            since first-year in Computer 
            Science with one dream<br>
            </p>
        <img src="{{ url_for('static', filename='assets/youtubepic.png') }}" alt="youtubepic">
    </div>
</body>
</html>
