<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/get_started.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/85f4d11930.js" crossorigin="anonymous"></script>
        <title>Insight</title>
    </head>
    <body>
        <header class="navbar">
            <div class="container flex-nav">
            <div class="nav-header">
                <h1 onclick="window.location.href='/'">insight.</h1>
                <button class="nav-toggle" id="navToggle">
                <i class="fas fa-bars"></i>
                </button>
            </div>
            <nav id="navLinks" class="nav-links">
                <ul>
                <li class="nav-link"><a href="{{url_for('home.home_page')}}">Home</a></li>
                <li class="nav-link"><a href="{{url_for('about.about_page')}}">About</a></li>
                <li class="nav-link"><a href="#">Workaround</a></li>
                </ul>
            </nav>
            <div id="navButtons" class="buttons">
                <button class="how" onclick="window.location.href='/how'">How it works?</button>
                <button class="get-started" onclick="window.location.href='/get_started'">Get started</button>
            </div>
            </div>
        </header>

        <main>
            <div class="container1">
                <p> SUMMARIZE YOUTUBE VIDEO<br>
                    USING NLP</p>
            </div>

            <div class="container2">
                <form id="youtubeForm" action="/summary" method="post">
                    <h5>Paste link here:</h5>
                    <div class = "ytform">
                        <input type="text" id="youtubeLink" name="yt-link" placeholder="https://youtube.com/">
                        <button type="submit" id="submitButton">Start</button>
                    </div>
                </form>
            </div>

            <div class="container3">
                <div class="description">
                    <div class="image">
                        <div class="circle">
                            <img src="{{ url_for('static', filename='assets/copy.svg')}}" alt="copy", id = "circleimg">
                        </div>
                        <div class="circle1">
                            <img src="{{ url_for('static', filename='assets/paste.svg')}}" alt="paste", id = "circleimg">
                        </div>
                    </div>
                    <h1 id="header1">Copy and Paste</h1>
                    <img src="{{ url_for('static', filename='assets/Line 1.svg')}}" alt="line" id="line1">
                    <p id="paragraph">Summarize videos easily by just copy and pasting a YouTube link.</p>
                </div>

                <div class="description">
                    <div class="image1">
                        <div class="circle">
                            <img src="{{ url_for('static', filename='assets/copy.svg')}}" alt="copy", id = "circleimg">
                        </div>
                        <div class="circle1">
                            <img src="{{ url_for('static', filename='assets/sum.svg')}}" alt="sum", id = "circleimg">
                        </div>
                    </div>
                    <h1 id="header1">Natural Language<br>Processing</h1>
                    <img src="{{ url_for('static', filename='assets/Line 1.svg')}}" alt="line" id="line1">
                    <p id="paragraph">Summarize videos easily by just copy and pasting a YouTube link.</p>
                </div>

                <div class="description">
                    <div class="image">
                        <div class="circle">
                            <img src="{{ url_for('static', filename='assets/copy.svg')}}" alt="copy", id = "circleimg">
                        </div>
                        <div class="circle1">
                            <img src="{{ url_for('static', filename='assets/tiles.svg')}}" alt="tiles", id = "circleimg">
                        </div>
                    </div>
                    <h1 id="header1">Ease of Use</h1>
                    <img src="{{ url_for('static', filename='assets/Line 1.svg')}}" alt="line" id="line1">
                    <p id="paragraph">Summarize videos easily by just copy and pasting a YouTube link.</p>
                </div>

                <div class="description">
                    <div class="image">
                        <div class="circle">
                            <img src="{{ url_for('static', filename='assets/copy.svg')}}" alt="copy", id = "circleimg">
                        </div>
                        <div class="circle1">
                            <img src="{{ url_for('static', filename='assets/ff.svg')}}" alt="ff", id = "circleimg">
                        </div>
                    </div>
                    <h1 id="header1">Fast and Reliable</h1>
                    <img src="{{ url_for('static', filename='assets/Line 1.svg')}}" alt="line" id="line1">
                    <p id="paragraph">Summarize videos easily by just copy and pasting a YouTube link.</p>
                </div>
            </div>
        </main>
    </body>
</html>
