<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home.home_page') }}">Home</a></li>
                    <li><a>About</a></li>
                    <li><a>Contacts</a></li>
                    <li><a>Tutorial</a></li>
                <ul>
            </nav>
        </header>
        <main>
            <div id="input">
                <form action="{{ url_for('home.home_page')}}" method="post">
                    <input type="text" name="yt-link" placeholder="Enter URL">
                    <input id="submit" type="submit" value="Submit">
                </form>
            </div>
            <div id="summary">
                {% for item in summary %}
                <p> {{ item }} </p>
                {% endfor %}
            </div>
        </main>
    <body>
</html>