<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85f4d11930.js" crossorigin="anonymous"></script>
    <title>Insight.</title>
</head>
<body>
  <div class="navbar">
    <div class="container flex-nav">
      <div class="nav-header">
        <h1>insight.</h1>
        <button class="nav-toggle" id="navToggle">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <nav class="nav-links">
        <ul>
          <li class="nav-link">Home</li>
          <li class="nav-link">About</li>
          <li class="nav-link">Workaround</li>
        </ul>
      </nav>
      <div class="buttons">
        <button class="how">How it works?</button>
        <button class="get-started">Get started</button>
      </div>
    </div>
  </div>

    <div class="content-wrapper1">
      <div class="content1">
        <p class="header">SUMMARIZE YOUTUBE VIDEOS<br>BY LEVERAGING NATURAL<br>LANGUAGE PROCESSING</p>
        <img src="{{url_for('static', filename='assets/youtubepic.png')}}">
      </div>
      <div class="content2">
        <p class="title"> What is natural Language Processing?</p>
        <p class="text">Natural Languange Processing (NLP) is like teaching
          computers to understand and work with human languange.
          It invovles deceloping algorithms and models that enable
          computers to comprehend, interpret, and generate human languange
          in a way that's similar to how people do. For instance, NLP helps
          computers understand the meaning of sentences, extract information
          from text, and translate language.
        </p>
        <a href="{{url_for('get_started.get_started_page')}}">
          <button class="start">Start<img src="{{url_for('static', filename='assets/start.svg')}}"></button></a>
      </div>
    </div>
    <div class="content-wrapper2">
      <div class="card-container">
        <div class="card1">
          <div class="card1-content1">
            <p class="header">YOUTUBE VIDEO TOO LONG?<br>WE MADE IT EASY FOR YOU!</p>
            <img src="{{url_for('static', filename='assets/ted.svg')}}">
          </div>
          <div class="card1-content2">
            <p class="header">How is it possible?</p>
            <p class="body-text">Insight. Uses Youtube API to get video captions from the provided youtube link. It will then extract the caption from that video. The extracted caption from the video will be fed into the Natural Language Processing system wherein the captions will be processed to output a summarized version of the captions. </p>
          </div>
        </div>
        <div class="card2">
          <p class="header">bottom</p>
        </div>
      </div>
    </div>
  <script src="{{ url_for('static', filename='js/my.js') }}"></script>
</body>
</html>
