<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href=" {{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
        <link href=" {{ url_for('static', filename='css/summary.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>Summary</title>
    </head>
    <body>
        <header class="navbar">
            <div class="container flex-nav">
            <div class="nav-header" styl="width: 50%;">
                <h1 onclick="window.location.href='/'">insight.</h1>
                <button class="nav-toggle" id="navToggle">
                <i class="fas fa-bars"></i>
                </button>
            </div>
            <nav id="navLinks" class="nav-links" style="display: flex; flex-direction: row; width: 40%; margin-left: 50px;">
                <ul>
                <li class="nav-link"><a href="{{url_for('home.home_page')}} " style='width: 30%;'>Home</a></li>
                <li class="nav-link"><a href="{{url_for('about.about_page')}}" style='width: 30%;'>About</a></li>
                </ul>
            </nav>
            <div id="navButtons" class="buttons">
                <button class="how" onclick="window.location.href='/how'">How it works?</button>
                <button class="get-started" onclick="window.location.href='/get_started'">Summarize More</button>
            </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="thumbnail" style="background-image: url({{ thumbnail }})"></div>
                <div class="info_button">
                    <div class="video-info">
                        <table>
                            <tr>
                                <td id="td1">Video Title</td>
                                <td id="td2">{{ video_title }}</td>
                            </tr>
                            <tr>
                                <td id="td1">Channel</td>
                                <td id="td2">{{ channel }}</td>
                            </tr>
                            <tr>
                                <td id="td1">Views</td>
                                <td id="td2">{{ views }}</td>
                            </tr>
                            <tr>
                                <td id="td1">Date Uploaded</td>
                                <td id="td2">{{ video_date }}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="actions">
                        <div class="button-wrapper">
                            <p>Summarized</p>
                            <button id="downloadSummary" class="get-buttons">Download</button>
                        </div>
                        <div class="button-wrapper">
                            <p>Copy Text</p>
                            <button id="copySummary" class="get-buttons">Copy Text</button>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="output-box">
                <div class="output">
                    {% if summary %}
                        <p>{{ summary }}</p>
                    {% else %}
                        <p>No summary available</p>
                    {% endif %}
                </div>
            </div>
        </main>

        <div id="connectionModal">
            <div class="modal-container">
                <h2>Connection Error</h2>
                <p>It seems like you're offline. Please check your internet connection.</p>
            </div>
        </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src={{ url_for('static', filename="js/scripts.js") }}></script>
</html>
